## Project 6-1: Clean the ramen data The data file
   ramen-ratings.csv
## Tasks
1. Read the data from the CSV file into a DataFrame and display the data to get a count of the number of rows.
2. Rename the Stars column to Rating.
3. Convert the Style column to the category type.
4. Drop the country column.
5. Check that the changes were applied to the DataFrame.
6. Rename the Brand column to Company and the Variety column to Product.
7. Use the duplicated() method to display all rows with duplicate Company/Product combinations.
8. Drop all rows with duplicate Company/Product combinations except for the first row in each set. Then, display the data to get a count of the number of rows, and compare that with the original number of rows to see how many were dropped.
9. Drop any rows that have missing values.
10. Check again to make sure that all of your changes were applied.

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

In [2]:
#Task1:
ramen_df=pd.read_csv('ramen-ratings.csv')
ramen_df.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [3]:
#Task2:Rename the Stars column to Rating.
ramen_df.rename(columns={'Stars': 'Rating'}, inplace=True)
ramen_df.head(3)

,Brand,Variety,Style,Country,Rating
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25

In [4]:
ramen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 100.8+ KB

In [5]:
#Task3:Convert the Style column to the category type.
ramen_df['Style'] = ramen_df['Style'].astype('category')

In [6]:
ramen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(3)
memory usage: 83.5+ KB

In [7]:
#Task4:Drop the country column.

ramen_df.drop(columns=['Country'], inplace=True)

In [8]:
#Task5:Check that the changes were applied to the DataFrame.
ramen_df.head()

,Brand,Variety,Style,Rating
0,New Touch,T's Restaurant Tantanmen,Cup,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,2.75
4,Ching's Secret,Singapore Curry,Pack,3.75

In [9]:
#Task6:Rename the Brand column to Company and the Variety column to Product.

ramen_df.rename(columns={'Brand': 'Company', 'Variety': 'Product'}, inplace=True)
# Another way by not using `inplace` parameter
# ramen_df=ramen_df.rename(columns={'Brand': 'Company', 'Variety': 'Product'})
ramen_df.head(3)

     Company                                            Product Style  Rating
0  New Touch                          T's Restaurant Tantanmen    Cup    3.75
1   Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack    1.00
2     Nissin                      Cup Noodles Chicken Vegetable   Cup    2.25

In [10]:
#Task7:Use the duplicated() method to display all rows with duplicate Company/Product combinations.
duplicates = ramen_df[ramen_df.duplicated(subset=['Company', 'Product'], keep=False)]
duplicates

              Company                          Product Style  Rating
2              Nissin    Cup Noodles Chicken Vegetable   Cup    2.25
24     Ching's Secret       Hot Garlic Instant Noodles  Pack    4.25
46           Nongshim                Shin Ramyun Black  Pack    5.00
69            MyKuali  Penang Red Tom Yum Goong Noodle  Pack    5.00
75           Nongshim                      Shin Ramyun  Pack    3.00
...               ...                              ...   ...     ...
2545             Koka           Mi Hai Cua Crab Flavor  Pack    3.50
2552           Nissin         Demae Ramen Spicy Flavor  Pack    3.00
2556         Nongshim        Champong Oriental Noodles  Pack    4.00
2558         Nongshim                      Shin Ramyun  Pack    4.00
2565  Sapporo Ichiban                    Shrimp Flavor  Pack    2.50

[118 rows x 4 columns]

In [11]:
#Task8:
# Drop all rows with duplicate Company/Product combinations except for the first row in each set. 
# Then, display the data to get a count of the number of rows, and 
# compare that with the original number of rows to see how many were dropped.

ramen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2577 non-null   object
 1   Product  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

In [12]:
ramen_df.drop_duplicates(subset=['Company', 'Product'], keep='first', inplace=True)

In [13]:
ramen_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2517 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2517 non-null   object
 1   Product  2517 non-null   object
 2   Style    2515 non-null   category
 3   Rating   2517 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 81.5+ KB

In [14]:
#Task9:Drop any rows that have missing values.
ramen_df.dropna(inplace=True)

In [16]:
#Task10:Check again to make sure that all of your changes were applied.
ramen_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2515 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2515 non-null   object
 1   Product  2515 non-null   object
 2   Style    2515 non-null   category
 3   Rating   2515 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 81.4+ KB