## Project 6-2: Clean the avocado data The data file
avocado.csv
## Tasks
1. Read the data from the CSV file into a DataFrame and display the first five rows.
2. Check to see if any of the columns have missing values.
3. Display the unique values in the region column, and notice that one of the regions is TotalUS.
4. Drop rows that have a region of TotalUS, and then check to see how many rows were dropped.
5. Drop the Unnamed: 0, 4046, 4225, and 4770 columns.
6. Convert the Date column to the DateTime type.
7. Check that these changes have been applied to the DataFrame.

In [3]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

In [4]:
#Task1
#Read the data from the CSV file into a DataFrame and display the first five rows.
avo_df=pd.read_csv('avocado.csv')
avo_df.head(3)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany

In [5]:
#Task2
#Check to see if any of the columns have missing values.
avo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [6]:
#Task3
#Display the unique values in the region column, and notice that one of the regions is TotalUS.
avo_df.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [7]:
avo_df.region.nunique()

54

In [8]:
avo_df.region.value_counts()

region
Albany                 338
Sacramento             338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
SanDiego               338
Atlanta                338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
NewYork                338
NewOrleansMobile       338
Nashville              338
Midsouth               338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
WestTexNewMexico       335
Name: count, dtype: int64

In [10]:
#Task4
#Drop rows that have a region of TotalUS, and then check to see how many rows were dropped.
avo_df=avo_df[avo_df['region'] !='TotalUS'] # masking method or square bracket method 
avo_df.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico'], dtype=object)

In [12]:
#Task5
#Drop the Unnamed: 0, 4046, 4225, and 4770 columns.
avo_df.drop(columns=['Unnamed: 0','4046','4225','4770'], inplace=True)
avo_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17911 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          17911 non-null  object
 1   AveragePrice  17911 non-null  float64
 2   Total Volume  17911 non-null  float64
 3   Total Bags    17911 non-null  float64
 4   Small Bags    17911 non-null  float64
 5   Large Bags    17911 non-null  float64
 6   XLarge Bags   17911 non-null  float64
 7   type          17911 non-null  object
 8   year          17911 non-null  int64
 9   region        17911 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.5+ MB

In [13]:
#Task6
#Convert the Date column to the DateTime type.
avo_df['Date'] = pd.to_datetime(avo_df['Date'])

In [14]:
#Task7
#Check that these changes have been applied to the DataFrame.
avo_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17911 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          17911 non-null  datetime64[ns]
 1   AveragePrice  17911 non-null  float64
 2   Total Volume  17911 non-null  float64
 3   Total Bags    17911 non-null  float64
 4   Small Bags    17911 non-null  float64
 5   Large Bags    17911 non-null  float64
 6   XLarge Bags   17911 non-null  float64
 7   type          17911 non-null  object
 8   year          17911 non-null  int64
 9   region        17911 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 1.5+ MB